body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(226, 251, 236);
    border-color: rgb(20, 113, 79);
    border-style: double;
    border-width: 4px;
}

header {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: rgb(1, 68, 29);
    padding: 10px;
    text-align: center;
}

nav {
    background-color: rgb(20, 113, 79);
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}

a {
    margin: 15px;
    color: whitesmoke;
    background-color: rgb(1, 68, 29);
}

article {
    margin: 22px;
    width:fit-content;
}

.retrato, video {
    float: right;
    height: 400px;
    width: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    border-color: rgb(20, 113, 79);
    border-style: double;
    border-width: 4px;
}