header {
    color: rgb(249, 249, 43);
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2%
}

body {
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(29, 29, 29);
}

form {
    padding: 2%;
}

img {
    max-width: 100px;
    padding: 1%;
}

img:hover {
    border: 2px solid rgb(249, 249, 43);
}

.contenedor-imagenes {
    border: 1px solid antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}